jupyter==1.1.1
opencv-python==5.0.0.93
opencv-contrib-python==5.0.0.93
matplotlib==3.11.0
moviepy==2.2.1
ultralytics==8.4.101
trackers==2.6.0
supervision==0.29.1
rfdetr==1.9.0
easyocr==1.7.2
landingai-ade==1.15.0
openai==2.48.0
anomalib==2.5.1
insightface==1.0.1
mediapipe==1.0.1
scikit-learn==1.9.0
lap==0.5.13